<!-- courseEnrollmentManagement.ejs -->
<%- include("../partials/header") %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Enrollment: Admin</title>
    <link rel="icon" href="../images/rmitlogo.png" sizes = "16*16">

    <link rel="stylesheet" href="/stylesheets/adminNavbar.css">
    <link rel="stylesheet" href="/stylesheets/adminManagement.css">
    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <div class="admin-navbar">
        <ul>
            <a class="navlogo" href="#">
                <img src="/images/rmitlogo.png" alt="">
                <p>RMITdays</p>
            </a>
            <li>
            <a class="admin-profile-wrap" href="#">
                <div class="admin-profile">
                    <img src="/images/studentProfile.png" alt="">
                </div> 
                <p>Admin Name</p>
            </a>
            </li>
            <li>
                <a class="backWeb" href="#">
                    <ion-icon name="exit-outline"></ion-icon>
                    <p>Go back to Website</p>
                </a>
            </li>

            <p id="category1" >Management</p>
            <li><a href="#">User</a></li>
            <li><a href="#">Course List</a></li>
            <li><a href="#">Course Activity</a></li>
            <li><a href="#">Course Enrollment</a></li>
            <li><a href="#">Campus Map</a></li>
            <li><a href="#">Payment</a></li>
            <li><a href="#">Course Evaluation</a></li>
          </ul>
    </div>
    <div class="adminCourseManageContents">
        <h1>Course Enrollment Management</h1>
        <!-- Display Course Enrollment List -->
        <button class="admin-add-btn" onclick="showAddEnrollmentForm()">
            <ion-icon name="add-outline"></ion-icon>
            <p>Add New</p>
        </button>
        <table>
            <tr>
                <th>Email</th>
                <th>Course ID</th>
                <th>Activity</th>
                <th>Action</th>
            </tr>
            <% for (let i = 0; i < enrollmentList.length; i++) { %>
                <tr>
                    <td><%= enrollmentList[i].email %></td>
                    <td><%= enrollmentList[i].courseID %></td>
                    <td><%= enrollmentList[i].activity %></td>
                    <td class="action-buttons">
                        <button id="action-edit" onclick="showEditEnrollmentForm('<%= enrollmentList[i]._id %>', '<%= enrollmentList[i].email %>', '<%= enrollmentList[i].courseID %>', '<%= enrollmentList[i].activity %>')">Edit</button>
                        <button id="action-delete" onclick="showDeleteEnrollmentForm('<%= enrollmentList[i]._id %>', '<%= enrollmentList[i].email %>', '<%= enrollmentList[i].courseID %>', '<%= enrollmentList[i].activity %>')">Delete</button>
                    </td>
                </tr>
            <% } %>
        </table>
    </div>

    <!-- Add Enrollment Form -->
    <div class="popup" id="addEnrollmentPopup">
        <div class="popup-header">
            <button class="popup-close" onclick="closePopup('addEnrollmentPopup')">X</button>
        </div>
        <form action="/admin/courseEnrollmentManagement/add" method="post">
            <label for="email" class="custom-label">Email:</label>
            <input type="text" name="email" required class="custom-input"><br>
            <label for="courseID" class="custom-label">Course ID:</label>
            <input type="text" name="courseID" required class="custom-input"><br>
            <label for="activity" class="custom-label">Activity:</label>
            <input type="text" name="activity" required class="custom-input"><br>
            <button type="submit" class="custom-button">Add Enrollment</button>
        </form>
    </div>

    <!-- Edit Enrollment Form -->
    <div class="popup" id="editEnrollmentPopup">
        <div class="popup-header">
            <button class="popup-close" onclick="closePopup('editEnrollmentPopup')">X</button>
        </div>
        <form action="/admin/courseEnrollmentManagement/edit" method="post">
            <input type="text" name="enrollmentIdEdit" required readonly class="custom-input" style="display: none;">
            <label for="emailEdit" class="custom-label">Email:</label>
            <input type="text" name="emailEdit" required readonly class="custom-input"><br>
            <label for="courseIDEdit" class="custom-label">Course ID:</label>
            <input type="text" name="courseIDEdit" required readonly class="custom-input"><br>
            <label for="newCourseID" class="custom-label">New Course ID:</label>
            <input type="text" name="newCourseID" required class="custom-input"><br>
            <label for="newActivity" class="custom-label">New Activity:</label>
            <input type="text" name="newActivity" required class="custom-input"><br>
            <button type="submit" class="custom-button">Edit Enrollment</button>
        </form>
    </div>

    <!-- Delete Enrollment Form -->
    <div class="popup" id="deleteEnrollmentPopup">
        <div class="popup-header">
            <button class="popup-close" onclick="closePopup('deleteEnrollmentPopup')">X</button>
        </div>
        <form action="/admin/courseEnrollmentManagement/delete" method="post">
            <input type="text" name="enrollmentIdDelete" required readonly class="custom-input" style="display: none;">
            <label for="emailDelete" class="custom-label">Email:</label>
            <input type="text" name="emailDelete" required readonly class="custom-input"><br>
            <label for="courseIDDelete" class="custom-label">Course ID:</label>
            <input type="text" name="courseIDDelete" required readonly class="custom-input"><br>
            <label for="activityDelete" class="custom-label">Activity:</label>
            <input type="text" name="activityDelete" required readonly class="custom-input"><br>
            <button type="submit" class="custom-button">Delete Enrollment</button>
        </form>
    </div>

    <div class="overlay" onclick="closeAllEnrollmentPopups()"></div>

    <script>
        function showAddEnrollmentForm() {
            showPopup('addEnrollmentPopup');
        }

        function showEditEnrollmentForm(enrollmentId, email, courseID, activity) {
            showPopup('editEnrollmentPopup');
            document.querySelector('[name="enrollmentIdEdit"]').value = enrollmentId;
            document.querySelector('[name="emailEdit"]').value = email;
            document.querySelector('[name="courseIDEdit"]').value = courseID;
            document.querySelector('[name="newCourseID"]').value = courseID;
            document.querySelector('[name="newActivity"]').value = activity;
        }

        function showDeleteEnrollmentForm(enrollmentId, email, courseID, activity) {
            showPopup('deleteEnrollmentPopup');
            document.querySelector('[name="enrollmentIdDelete"]').value = enrollmentId;
            document.querySelector('[name="emailDelete"]').value = email;
            document.querySelector('[name="courseIDDelete"]').value = courseID;
            document.querySelector('[name="activityDelete"]').value = activity;
        }

        function showPopup(popupId) {
            document.getElementById(popupId).style.display = 'block';
            document.querySelector('.overlay').style.display = 'block';
        }

        function closePopup(popupId) {
            document.getElementById(popupId).style.display = 'none';
            document.querySelector('.overlay').style.display = 'none';
        }

        function closeAllEnrollmentPopups() {
            closePopup('addEnrollmentPopup');
            closePopup('editEnrollmentPopup');
            closePopup('deleteEnrollmentPopup');
        }

// JavaScript Toggle Function
function toggleNavbar() {
    var navbar = document.querySelector('.admin-navbar');
    var toggleButton = document.getElementById('toggleButton');
    var isCollapsed = navbar.classList.contains('nav-collapsed');

    if (isCollapsed) {
        navbar.classList.remove('nav-collapsed');
        navbar.classList.add('nav-expanded');
        // 필요한 경우 추가적인 스타일 변경
    } else {
        navbar.classList.remove('nav-expanded');
        navbar.classList.add('nav-collapsed');
        // 필요한 경우 추가적인 스타일 변경
    }
}


    </script>
</body>

</html>
