<!-- courseEnrollmentHistoryManagement.ejs -->
<%- include("../partials/header") %>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/rmitlogo.png" sizes = "16*16">
    <link rel="stylesheet" href="/stylesheets/adminManagement.css">
    <link rel="stylesheet" href="/stylesheets/adminNavbar.css">
    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>Enrollment History: Admin</title>

</head>

<%- include("../partials/adminNavigation") %>
    <!-- main -->
    <div class="adminCourseManageContents">
        <h1>Course Enrollment History Management</h1>
        <div class="search">
            <input type="text" placeholder="Search by email, course ID, and enrollment semester">
            <button class="submitBtn" type="submit">
                <ion-icon class="searchIcon" name="search-outline"></ion-icon>
            </button>
            <button class="admin-add-btn" onclick="showAddMapForm()">
                <ion-icon class="addIcon" name="add-outline"></ion-icon>
                <p>Add NEW</p>
            </button>
        </div>

        <table>
            <tr>
                <th>Email</th>
                <th>Course ID</th>
                <th>Enrollment Semester</th>
                <th>Action</th>
            </tr>
            <% for (let i = 0; i < enrollmentHistoryList.length; i++) { %>
                <tr>
                    <td><%= enrollmentHistoryList[i].email %></td>
                    <td><%= enrollmentHistoryList[i].courseID %></td>
                    <td><%= enrollmentHistoryList[i].enrollmentSemester %></td>
                    <td class="action-buttons">
                        <button id="action-edit" onclick="showEditHistoryForm('<%= enrollmentHistoryList[i]._id %>', '<%= enrollmentHistoryList[i].email %>', '<%= enrollmentHistoryList[i].courseID %>', '<%= enrollmentHistoryList[i].enrollmentSemester %>')">Edit</button>
                        <button id="action-delete" onclick="showDeleteHistoryForm('<%= enrollmentHistoryList[i]._id %>', '<%= enrollmentHistoryList[i].email %>', '<%= enrollmentHistoryList[i].courseID %>', '<%= enrollmentHistoryList[i].enrollmentSemester %>')">Delete</button>
                    </td>
                </tr>
            <% } %>
        </table>
    </div>

    <!-- Add Enrollment History Form -->
    <div class="popup" id="addHistoryPopup">
        <div class="popup-header">
            <button class="popup-close" onclick="closePopup('addHistoryPopup')">X</button>
        </div>
        <form action="/admin/courseEnrollmentHistoryManagement/add" method="post">
            <label for="email" class="custom-label">Email:</label>
            <input type="text" name="email" required class="custom-input"><br>
            <label for="courseID" class="custom-label">Course ID:</label>
            <input type="text" name="courseID" required class="custom-input"><br>
            <label for="enrollmentSemester" class="custom-label">Enrollment Semester:</label>
            <input type="text" name="enrollmentSemester" required class="custom-input"><br>
            <button type="submit" class="custom-button">Add Enrollment History</button>
        </form>
    </div>

<!-- Edit Enrollment History Form -->
<div class="popup" id="editHistoryPopup">
    <div class="popup-header">
        <button class="popup-close" onclick="closePopup('editHistoryPopup')">X</button>
    </div>
    <form action="/admin/courseEnrollmentHistoryManagement/edit" method="post">
        <input type="text" name="enrollmentIdEdit" required readonly class="custom-input" style="display: none;">
        <label for="newEmail" class="custom-label">New Email:</label>
        <input type="text" name="newEmail" required class="custom-input"><br>
        <label for="newCourseID" class="custom-label">New Course ID:</label>
        <input type="text" name="newCourseID" required class="custom-input"><br>
        <label for="newEnrollmentSemester" class="custom-label">New Enrollment Semester:</label>
        <input type="text" name="newEnrollmentSemester" required class="custom-input"><br>
        <button type="submit" class="custom-button">Edit Enrollment History</button>
    </form>
</div>

<!-- Delete Enrollment History Form -->
<div class="popup" id="deleteHistoryPopup">
    <div class="popup-header">
        <button class="popup-close" onclick="closePopup('deleteHistoryPopup')">X</button>
    </div>
    <form action="/admin/courseEnrollmentHistoryManagement/delete" method="post">
        <input type="text" name="enrollmentIdDelete" required readonly class="custom-input" style="display: none;">
        <label for="emailDelete" class="custom-label">Email:</label>
        <input type="text" name="emailDelete" required readonly class="custom-input"><br>
        <label for="courseIDDelete" class="custom-label">Course ID:</label>
        <input type="text" name="courseIDDelete" required readonly class="custom-input"><br>
        <label for="enrollmentSemesterDelete" class="custom-label">Enrollment Semester:</label>
        <input type="text" name="enrollmentSemesterDelete" required readonly class="custom-input"><br>
        <button type="submit" class="custom-button">Delete Enrollment History</button>
    </form>
</div>

    <div class="overlay" onclick="closeAllHistoryPopups()"></div>

    <script>
        function showAddHistoryForm() {
            showPopup('addHistoryPopup');
        }

        function showEditHistoryForm(enrollmentId, email, courseID, enrollmentSemester) {
        showPopup('editHistoryPopup');
        document.querySelector('[name="enrollmentIdEdit"]').value = enrollmentId;
        document.querySelector('[name="newEmail"]').value = email;
        document.querySelector('[name="newCourseID"]').value = courseID;
        document.querySelector('[name="newEnrollmentSemester"]').value = enrollmentSemester;
    }

    function showDeleteHistoryForm(enrollmentId, email, courseID, enrollmentSemester) {
        showPopup('deleteHistoryPopup');
        document.querySelector('[name="enrollmentIdDelete"]').value = enrollmentId;
        document.querySelector('[name="emailDelete"]').value = email;
        document.querySelector('[name="courseIDDelete"]').value = courseID;
        document.querySelector('[name="enrollmentSemesterDelete"]').value = enrollmentSemester;
    }

        function showPopup(popupId) {
            document.getElementById(popupId).style.display = 'block';
            document.querySelector('.overlay').style.display = 'block';
        }

        function closePopup(popupId) {
            document.getElementById(popupId).style.display = 'none';
            document.querySelector('.overlay').style.display = 'none';
        }

        function closeAllHistoryPopups() {
            closePopup('addHistoryPopup');
            closePopup('editHistoryPopup');
            closePopup('deleteHistoryPopup');
        }
    </script>
</body>

</html>
