<!-- courseActivityManagement.ejs -->
<%- include("../partials/header") %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Activity: Admin</title>
    <link rel="icon" href="../images/rmitlogo.png" sizes = "16*16">
    <link rel="stylesheet" href="/stylesheets/adminManagement.css">
    <link rel="stylesheet" href="/stylesheets/adminNavbar.css">
    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<%- include("../partials/adminNavigation") %>

    <div class="adminCourseManageContents">
        <h1>Course Activity Management</h1>
        <form action="/admin/courseActivityManagement" method="get">
        <div class="search">
            <input type="text" name="search" placeholder="Search by course ID, activity, professor name, classroom number, and class date and time">
            <button class="submitBtn" type="submit">
                <ion-icon class="searchIcon" name="search-outline"></ion-icon>
            </button>
        </div>
    </form>
        <button class="admin-add-btn" onclick="showAddActivityForm()">
            <ion-icon class="addIcon" name="add-outline"></ion-icon>
            <p>Add NEW</p>
        </button>
        <table>
            <tr>
                <th>Course ID</th>
                <th>Activity</th>
                <th>Lecturer</th>
                <th>Classroom</th>
                <th>Time</th>
                <th>Action</th>
            </tr>
            <% for (let i = 0; i < activityList.length; i++) { %>
                <tr>
                    <td><%= activityList[i].courseID %></td>
                    <td><%= activityList[i].activity %></td>
                    <td><%= activityList[i].lecturer %></td>
                    <td><%= activityList[i].classroom %></td>
                    <td><%= activityList[i].time.join(', ') %></td>
                    <td class="action-buttons">
                        <button id="action-edit" onclick="showEditActivityForm('<%= activityList[i]._id %>' ,'<%= activityList[i].courseID %>' ,'<%= activityList[i].activity %>' ,'<%= activityList[i].lecturer %>' ,'<%= activityList[i].classroom %>' ,'<%= activityList[i].time %>')">Edit</button>
                        <button id="action-delete" onclick="showDeleteActivityForm('<%= activityList[i]._id %>' ,'<%= activityList[i].courseID %>' ,'<%= activityList[i].activity %>' ,'<%= activityList[i].lecturer %>' ,'<%= activityList[i].classroom %>' ,'<%= activityList[i].time %>')">Delete</button>
                    </td>
                </tr>
            <% } %>
        </table>
    </div>

    <!-- Add Activity Form -->
    <div class="popup" id="addActivityPopup">
        <div class="popup-header">
            <button class="popup-close" onclick="closePopup('addActivityPopup')">X</button>
        </div>
        <form action="/admin/courseActivityManagement/add" method="post">
            <label for="courseID" class="custom-label">Course ID:</label>
            <input type="text" name="courseID" required class="custom-input"><br>
            <label for="activity" class="custom-label">Activity:</label>
            <input type="text" name="activity" required class="custom-input"><br>
            <label for="lecturer" class="custom-label">Lecturer:</label>
            <input type="text" name="lecturer" class="custom-input"><br>
            <label for="classroom" class="custom-label">Classroom:</label>
            <input type="text" name="classroom" class="custom-input"><br>
            <label for="time" class="custom-label">Time (comma-separated):</label>
            <input type="text" name="time" required class="custom-input"><br>
            <button type="submit" class="custom-button">Add Activity</button>
        </form>
    </div>

    <!-- Edit Activity Form -->
    <div class="popup" id="editActivityPopup">
        <div class="popup-header">
            <button class="popup-close" onclick="closePopup('editActivityPopup')">X</button>
        </div>
        <form action="/admin/courseActivityManagement/edit" method="post">
            <input type="text" name="activityIdEdit" required readonly class="custom-input" style="display: none;">
            <label for="courseIDEdit" class="custom-label">Course ID:</label>
            <input type="text" name="courseIDEdit" required readonly class="custom-input"><br>
            <label for="newCourseID" class="custom-label">New Course ID:</label>
            <input type="text" name="newCourseID" required class="custom-input"><br>
            <label for="newActivity" class="custom-label">New Activity:</label>
            <input type="text" name="newActivity" required class="custom-input"><br>
            <label for="newLecturer" class="custom-label">New Lecturer:</label>
            <input type="text" name="newLecturer" class="custom-input"><br>
            <label for="newClassroom" class="custom-label">New Classroom:</label>
            <input type="text" name="newClassroom" class="custom-input"><br>
            <label for="newTime" class="custom-label">New Time (comma-separated):</label>
            <input type="text" name="newTime" required class="custom-input"><br>
            <button type="submit" class="custom-button">Edit Activity</button>
        </form>
    </div>

    <!-- Delete Activity Form -->
    <div class="popup" id="deleteActivityPopup">
        <div class="popup-header">
            <button class="popup-close" onclick="closePopup('deleteActivityPopup')">X</button>
        </div>
        <form action="/admin/courseActivityManagement/delete" method="post">
            <input type="text" name="activityIdDelete" required readonly class="custom-input" style="display: none;">
            <label for="courseIdDelete" class="custom-label">Course ID:</label>
            <input type="text" name="courseIdDelete" required readonly class="custom-input"><br>
            <label for="activityNumDelete" class="custom-label">Activity Number:</label>
            <input type="text" name="activityNumDelete" required readonly class="custom-input"><br>
            <label for="lecturerDelete" class="custom-label">Lecturer:</label>
            <input type="text" name="lecturerDelete" required readonly class="custom-input"><br>
            <label for="lecturerDelete" class="custom-label">Classroom:</label>
            <input type="text" name="classroomDelete" required readonly class="custom-input"><br>
            <label for="lecturerDelete" class="custom-label">Time:</label>
            <input type="text" name="timeDelete" required readonly class="custom-input"><br>
            <button type="submit" class="custom-button">Delete Activity</button>
        </form>
    </div>

    <div class="overlay" onclick="closeAllActivityPopups()"></div>

    <script>
        function showAddActivityForm() {
            showPopup('addActivityPopup');
        }

        function showEditActivityForm(activityId, courseID, activity, lecturer, classroom, time) {
            showPopup('editActivityPopup');
            document.querySelector('[name="activityIdEdit"]').value = activityId;
            document.querySelector('[name="courseIDEdit"]').value = courseID;
            document.querySelector('[name="newCourseID"]').value = courseID;
            document.querySelector('[name="newActivity"]').value = activity;
            document.querySelector('[name="newLecturer"]').value = lecturer;
            document.querySelector('[name="newClassroom"]').value = classroom;
            document.querySelector('[name="newTime"]').value = time;
        }

        function showDeleteActivityForm(activityId, courseId, activityNum, lecturer, classroom, time) {
            showPopup('deleteActivityPopup');
            document.querySelector('[name="activityIdDelete"]').value = activityId;
            document.querySelector('[name="courseIdDelete"]').value = courseId;
            document.querySelector('[name="activityNumDelete"]').value = activityNum;
            document.querySelector('[name="lecturerDelete"]').value = lecturer;
            document.querySelector('[name="classroomDelete"]').value = classroom;
            document.querySelector('[name="timeDelete"]').value = time;
        }

        function showPopup(popupId) {
            document.getElementById(popupId).style.display = 'block';
            document.querySelector('.overlay').style.display = 'block';
        }

        function closePopup(popupId) {
            document.getElementById(popupId).style.display = 'none';
            document.querySelector('.overlay').style.display = 'none';
        }

        function closeAllActivityPopups() {
            closePopup('addActivityPopup');
            closePopup('editActivityPopup');
            closePopup('deleteActivityPopup');
        }
    </script>
</body>

</html>
