<!-- courseListManagement.ejs -->
<%- include("../partials/header") %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course List: Admin</title>
    <link rel="icon" href="../images/rmitlogo.png" sizes = "16*16">
    <link rel="stylesheet" href="/stylesheets/adminManagement.css">
    <link rel="stylesheet" href="/stylesheets/adminNavbar.css">
    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <div class="admin-navbar">
        <ul>
            <a class="navlogo" href="#">
                <img src="/images/rmitlogo.png" alt="">
                <p>RMITdays</p>
            </a>
            <li>
            <a class="admin-profile-wrap" href="#">
                <div class="admin-profile">
                    <img src="/images/studentProfile.png" alt="">
                </div> 
                <p>Admin Name</p>
            </a>
            </li>
            <li>
                <a class="backWeb" href="#">
                    <ion-icon name="exit-outline"></ion-icon>
                    <p>Go back to Website</p>
                </a>
            </li>

            <p id="category1" >Management</p>
            <li><a href="#">User</a></li>
            <li><a href="#">Course List</a></li>
            <li><a href="#">Course Activity</a></li>
            <li><a href="#">Course Enrollment</a></li>
            <li><a href="#">Campus Map</a></li>
            <li><a href="#">Payment</a></li>
            <li><a href="#">Course Evaluation</a></li>
          </ul>
    </div>
    <div class="adminCourseManageContents">
        <h1>Course List Management</h1>

        <!-- Display Course List -->
        <button class="admin-add-btn" onclick="showAddForm()">
            <ion-icon name="add-outline"></ion-icon>
            <p>Add New</p>
        </button>
        <table>
            <tr>
                <th>Course ID</th>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>Semester</th>
                <th>Credits</th>
                <th>Action</th>
            </tr>
            <% for (let i = 0; i < courseList.length; i++) { %>
                <tr>
                    <td><%= courseList[i].courseID %></td>
                    <td><%= courseList[i].courseCode %></td>
                    <td><%= courseList[i].courseName %></td>
                    <td><%= courseList[i].semester %></td>
                    <td><%= courseList[i].credits %></td>
                    <td class="action-buttons">
                        <button id="action-edit" onclick="showEditForm('<%= courseList[i].courseID %>', '<%= courseList[i].courseCode %>', '<%= courseList[i].courseName %>', '<%= courseList[i].semester %>', '<%= courseList[i].credits %>')">Edit</button>
                        <button id="action-delete" onclick="showDeleteForm('<%= courseList[i].courseID %>', '<%= courseList[i].courseCode %>', '<%= courseList[i].courseName %>', '<%= courseList[i].semester %>', '<%= courseList[i].credits %>')">Delete</button>
                    </td>
                </tr>
            <% } %>
        </table>
    </div>

    <!-- Add Course Form -->
    <div class="popup" id="addPopup">
        <div class="popup-header">
            <button class="popup-close" onclick="closePopup('addPopup')">X</button>
        </div>
        <form action="/admin/courseListManagement/add" method="post">
            <label for="courseID" class="custom-label">Course ID:</label>
            <input type="text" name="courseID" required class="custom-input"><br>
            <label for="courseID" class="custom-label">Course Code:</label>
            <input type="text" name="courseCode" required class="custom-input"><br>
            <label for="courseName" class="custom-label">Course Name:</label>
            <input type="text" name="courseName" required class="custom-input"><br>
            <label for="semester" class="custom-label">Semester:</label>
            <input type="text" name="semester" required class="custom-input"><br>
            <label for="credits" class="custom-label">Credits:</label>
            <input type="text" name="credits" required class="custom-input"><br>
            <button type="submit" class="custom-button">Add Course</button>
        </form>
    </div>

<!-- Edit Course Form -->
<div class="popup" id="editPopup">
    <div class="popup-header">
        <button class="popup-close" onclick="closePopup('editPopup')">X</button>
    </div>
    <form action="/admin/courseListManagement/edit" method="post">
        <label for="courseIDEdit" class="custom-label">Course ID:</label>
        <input type="text" name="courseIDEdit" required readonly class="custom-input"><br>

        <label for="newCourseID" class="custom-label">New Course ID:</label>
        <input type="text" name="newCourseID" required class="custom-input"><br>

        <label for="newCourseCode" class="custom-label">New Course Code:</label>
        <input type="text" name="newCourseCode" required class="custom-input"><br>

        <label for="newCourseName" class="custom-label">New Course Name:</label>
        <input type="text" name="newCourseName" required class="custom-input"><br>

        <label for="newSemester" class="custom-label">New Semester:</label>
        <input type="text" name="newSemester" required class="custom-input"><br>

        <label for="newCredits" class="custom-label">New Credits:</label>
        <input type="text" name="newCredits" required class="custom-input"><br>

        <button type="submit" class="custom-button">Edit Course</button>
    </form>
</div>

    <!-- Delete Course Form -->
    <div class="popup" id="deletePopup">
        <div class="popup-header">
            <button class="popup-close" onclick="closePopup('deletePopup')">X</button>
        </div>
        <form action="/admin/courseListManagement/delete" method="post">
            <label for="courseIDDelete" class="custom-label">Course ID:</label>
            <input type="text" name="courseIDDelete" required readonly class="custom-input"><br>
            <label for="courseCodeDelete" class="custom-label">Course Code:</label>
            <input type="text" name="courseCodeDelete" required readonly class="custom-input"><br>
            <label for="courseNameDelete" class="custom-label">Course Name:</label>
            <input type="text" name="courseNameDelete" required readonly class="custom-input"><br>
            <label for="semesterDelete" class="custom-label">Semester:</label>
            <input type="text" name="semesterDelete" required readonly class="custom-input"><br>
            <label for="creditsDelete" class="custom-label">Credits:</label>
            <input type="text" name="creditsDelete" required readonly class="custom-input"><br>
            <button type="submit" class="custom-button">Delete Course</button>
        </form>
    </div>

    <div class="overlay" onclick="closeAllPopups()"></div>

    <script>
        function showAddForm() {
            showPopup('addPopup');
        }

        function showEditForm(courseID, courseCode, courseName, semester, credits) {
            showPopup('editPopup');
            document.querySelector('[name="newCourseID"]').value = courseID;
            document.querySelector('[name="courseIDEdit"]').value = courseID;
            document.querySelector('[name="newCourseCode"]').value = courseCode;
            document.querySelector('[name="newCourseName"]').value = courseName;
            document.querySelector('[name="newSemester"]').value = semester;
            document.querySelector('[name="newCredits"]').value = credits;
        }

        function showDeleteForm(courseID, courseCode, courseName, semester, credits) {
            showPopup('deletePopup');
            document.querySelector('[name="courseIDDelete"]').value = courseID;
            document.querySelector('[name="courseCodeDelete"]').value = courseCode;
            document.querySelector('[name="courseNameDelete"]').value = courseName;
            document.querySelector('[name="semesterDelete"]').value = semester;
            document.querySelector('[name="creditsDelete"]').value = credits;
        }

        function showPopup(popupId) {
            document.getElementById(popupId).style.display = 'block';
            document.querySelector('.overlay').style.display = 'block';
        }

        function closePopup(popupId) {
            document.getElementById(popupId).style.display = 'none';
            document.querySelector('.overlay').style.display = 'none';
        }

        function closeAllPopups() {
            closePopup('addPopup');
            closePopup('editPopup');
            closePopup('deletePopup');
        }
    </script>
</body>

</html>
