<!-- courseEvaluationManagement.ejs -->
<%- include("../partials/header") %>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/rmitlogo.png" sizes = "16*16">
    <link rel="stylesheet" href="/stylesheets/adminManagement.css">
    <link rel="stylesheet" href="/stylesheets/adminNavbar.css">
    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>Course Evaluation: Admin</title>
</head>

<body>
    <!-- main -->
    <div class="adminCourseManageContents">
        <h1>Course Evaluation Management</h1>

        <!-- Display Course Evaluation List -->
        <button class="admin-add-btn" onclick="showAddEvaluationForm()">
            <ion-icon name="add-outline"></ion-icon>
            <p>Add NEW</p>
        </button>

        <table>
            <tr>
                <th>Course ID</th>
                <th>Email</th>
                <th>Status</th>
                <th>Enrollment Semester</th>
                <th>Star Rating</th>
                <th>Assignments Count</th>
                <th>Exams Count</th>
                <th>Group Projects Count</th>
                <th>Difficulty</th>
                <th>Text Feedback</th>
                <th>Action</th>
            </tr>
            <% for (let i = 0; i < courseEvaluationList.length; i++) { %>
                <tr>
                    <td><%= courseEvaluationList[i].courseID %></td>
                    <td><%= courseEvaluationList[i].email %></td>
                    <td><%= courseEvaluationList[i].status %></td>
                    <td><%= courseEvaluationList[i].enrollmentSemester %></td>
                    <td><%= courseEvaluationList[i].starRating %></td>
                    <td><%= courseEvaluationList[i].assignmentsCount %></td>
                    <td><%= courseEvaluationList[i].examsCount %></td>
                    <td><%= courseEvaluationList[i].groupProjectsCount %></td>
                    <td><%= courseEvaluationList[i].difficulty %></td>
                    <td><%= courseEvaluationList[i].textFeedback %></td>
                    <td class="action-buttons">
                        <button id="action-edit" onclick="showEditEvaluationForm('<%= courseEvaluationList[i]._id %>', '<%= courseEvaluationList[i].courseID %>', '<%= courseEvaluationList[i].email %>', '<%= courseEvaluationList[i].status %>', '<%= courseEvaluationList[i].enrollmentSemester %>', '<%= courseEvaluationList[i].starRating %>', '<%= courseEvaluationList[i].assignmentsCount %>', '<%= courseEvaluationList[i].examsCount %>', '<%= courseEvaluationList[i].groupProjectsCount %>', '<%= courseEvaluationList[i].difficulty %>', '<%= courseEvaluationList[i].textFeedback %>')">Edit</button>
                        <button id="action-delete" onclick="showDeleteEvaluationForm('<%= courseEvaluationList[i]._id %>')">Delete</button>
                    </td>
                </tr>
            <% } %>
        </table>
    </div>

    <!-- Add Evaluation Form -->
    <div class="popup" id="addEvaluationPopup">
        <div class="popup-header">
            <button class="popup-close" onclick="closePopup('addEvaluationPopup')">X</button>
        </div>
        <form action="/admin/courseEvaluationManagement/add" method="post">
            <label for="courseID" class="custom-label">Course ID:</label>
            <input type="text" name="courseID" required class="custom-input"><br>
            <label for="email" class="custom-label">Email:</label>
            <input type="text" name="email" required class="custom-input"><br>
            <label for="status" class="custom-label">Status:</label>
            <input type="text" name="status" class="custom-input"><br>
            <label for="enrollmentSemester" class="custom-label">Enrollment Semester:</label>
            <input type="text" name="enrollmentSemester" class="custom-input"><br>
            <label for="starRating" class="custom-label">Star Rating:</label>
            <input type="number" name="starRating" min="1" max="5" class="custom-input"><br>
            <label for="assignmentsCount" class="custom-label">Assignments Count:</label>
            <input type="number" name="assignmentsCount" class="custom-input"><br>
            <label for="examsCount" class="custom-label">Exams Count:</label>
            <input type="number" name="examsCount" class="custom-input"><br>
            <label for="groupProjectsCount" class="custom-label">Group Projects Count:</label>
            <input type="number" name="groupProjectsCount" class="custom-input"><br>
            <label for="difficulty" class="custom-label">Difficulty:</label>
            <input type="text" name="difficulty" required class="custom-input"><br>
            <label for="textFeedback" class="custom-label">Text Feedback:</label>
            <textarea name="textFeedback" class="custom-textarea"></textarea><br>
            <button type="submit" class="custom-button">Add Course Evaluation</button>
        </form>
    </div>

    <!-- Edit Evaluation Form -->
    <div class="popup" id="editEvaluationPopup">
        <div class="popup-header">
            <button class="popup-close" onclick="closePopup('editEvaluationPopup')">X</button>
        </div>
        <form action="/admin/courseEvaluationManagement/edit" method="post">
            <input type="text" name="evaluationIdEdit" required readonly class="custom-input" style="display: none;">
            <label for="newCourseID" class="custom-label">New Course ID:</label>
            <input type="text" name="newCourseID" required class="custom-input"><br>
            <label for="newEmail" class="custom-label">New Email:</label>
            <input type="text" name="newEmail" required class="custom-input"><br>
            <label for="newStatus" class="custom-label">New Status:</label>
            <input type="text" name="newStatus" class="custom-input"><br>
            <label for="newEnrollmentSemester" class="custom-label">New Enrollment Semester:</label>
            <input type="text" name="newEnrollmentSemester" class="custom-input"><br>
            <label for="newStarRating" class="custom-label">New Star Rating:</label>
            <input type="number" name="newStarRating" min="1" max="5" class="custom-input"><br>
            <label for="newAssignmentsCount" class="custom-label">New Assignments Count:</label>
            <input type="number" name="newAssignmentsCount" class="custom-input"><br>
            <label for="newExamsCount" class="custom-label">New Exams Count:</label>
            <input type="number" name="newExamsCount" class="custom-input"><br>
            <label for="newGroupProjectsCount" class="custom-label">New Group Projects Count:</label>
            <input type="number" name="newGroupProjectsCount" class="custom-input"><br>
            <label for="newDifficulty" class="custom-label">New Difficulty:</label>
            <input type="text" name="newDifficulty" required class="custom-input"><br>
            <label for="newTextFeedback" class="custom-label">New Text Feedback:</label>
            <textarea name="newTextFeedback" class="custom-textarea"></textarea><br>
            <button type="submit" class="custom-button">Edit Course Evaluation</button>
        </form>
    </div>

    <!-- Delete Evaluation Form -->
    <div class="popup" id="deleteEvaluationPopup">
        <div class="popup-header">
            <button class="popup-close" onclick="closePopup('deleteEvaluationPopup')">X</button>
        </div>
        <form action="/admin/courseEvaluationManagement/delete" method="post">
            <input type="text" name="evaluationIdDelete" required readonly class="custom-input" style="display: none;">
            <label for="courseIDDelete" class="custom-label">Course ID:</label>
            <input type="text" name="courseIDDelete" required readonly class="custom-input"><br>
            <label for="emailDelete" class="custom-label">Email:</label>
            <input type="text" name="emailDelete" required readonly class="custom-input"><br>
            <button type="submit" class="custom-button">Delete Course Evaluation</button>
        </form>
    </div>

    <div class="overlay" onclick="closeAllEvaluationPopups()"></div>

    <script>
        function showAddEvaluationForm() {
            showPopup('addEvaluationPopup');
        }

        function showEditEvaluationForm(evaluationId, courseID, email, status, enrollmentSemester, starRating, assignmentsCount, examsCount, groupProjectsCount, difficulty, textFeedback) {
            showPopup('editEvaluationPopup');
            document.querySelector('[name="evaluationIdEdit"]').value = evaluationId;
            document.querySelector('[name="newCourseID"]').value = courseID;
            document.querySelector('[name="newEmail"]').value = email;
            document.querySelector('[name="newStatus"]').value = status;
            document.querySelector('[name="newEnrollmentSemester"]').value = enrollmentSemester;
            document.querySelector('[name="newStarRating"]').value = starRating;
            document.querySelector('[name="newAssignmentsCount"]').value = assignmentsCount;
            document.querySelector('[name="newExamsCount"]').value = examsCount;
            document.querySelector('[name="newGroupProjectsCount"]').value = groupProjectsCount;
            document.querySelector('[name="newDifficulty"]').value = difficulty;
            document.querySelector('[name="newTextFeedback"]').value = textFeedback;
        }

        function showDeleteEvaluationForm(evaluationId) {
            showPopup('deleteEvaluationPopup');
            document.querySelector('[name="evaluationIdDelete"]').value = evaluationId;
        }

        function showPopup(popupId) {
            document.getElementById(popupId).style.display = 'block';
            document.querySelector('.overlay').style.display = 'block';
        }

        function closePopup(popupId) {
            document.getElementById(popupId).style.display = 'none';
            document.querySelector('.overlay').style.display = 'none';
        }

        function closeAllEvaluationPopups() {
            closePopup('addEvaluationPopup');
            closePopup('editEvaluationPopup');
            closePopup('deleteEvaluationPopup');
        }
    </script>
</body>

</html>
