<!-- feedbackManagement.ejs -->

<%- include("../partials/header") %>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/stylesheets/adminNavbar.css">
<link rel="stylesheet" href="/stylesheets/adminManagement.css">

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<title>Feedback: Admin</title>
</head>

<%- include("../partials/adminNavigation") %>

    <!-- main -->
    <div class="adminCourseManageContents">
        <h1>Feedback Management</h1>
        <div class="search2">
            <input type="text" placeholder="Search by course ID, course code, course name, semester, and credits">
            <button class="submitBtn" type="submit">
                <ion-icon class="searchIcon2" name="search-outline"></ion-icon>
            </button>

        </div>
<!-- Display Feedback List -->
<br>
<table>
    <tr>
        <th>Type of Feedback</th>
        <th>Feedback Details</th>
        <th>Submission Time</th>
    </tr>
    <% for (let i = 0; i < feedbackList.length; i++) { %>
        <tr>
            <td><%= feedbackList[i].typeOfFeedback %></td>
            <td><%= feedbackList[i].feedbackDetails %></td>
            <td><%= feedbackList[i].submissionTime.toISOString().split('T')[0] %></td>
        </tr>
    <% } %>
</table>
    </div>
</body>

</html>
