<!-- paymentBalanceManagement.ejs -->
<%- include("../partials/header") %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/rmitlogo.png" sizes = "16*16">
    <link rel="stylesheet" href="/stylesheets/adminManagement.css">
    <link rel="stylesheet" href="/stylesheets/adminNavbar.css">
    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>Payment Balance: Admin</title>

</head>

<%- include("../partials/adminNavigation") %>

    <!-- main -->
    <div class="adminCourseManageContents">
        <h1>Payment Balance Management</h1>
        <div class="search">
            <input type="text" placeholder="Search by email, and balance">
            <button class="submitBtn" type="submit">
                <ion-icon class="searchIcon" name="search-outline"></ion-icon>
            </button>
            <button class="admin-add-btn" onclick="showAddMapForm()">
                <ion-icon class="addIcon" name="add-outline"></ion-icon>
                <p>Add NEW</p>
            </button>
        </div>

        <table>
            <tr>
                <th>Email</th>
                <th>Balance</th>
                <th>Action</th>
            </tr>
            <% for (let i = 0; i < balanceList.length; i++) { %>
                <tr>
                    <td><%= balanceList[i].email %></td>
                    <td><%= balanceList[i].balance %></td>
                    <td class="action-buttons">
                        <button id="action-edit" onclick="showEditBalanceForm('<%= balanceList[i]._id %>', '<%= balanceList[i].email %>', '<%= balanceList[i].balance %>')">Edit</button>
                        <button id="action-delete" onclick="showDeleteBalanceForm('<%= balanceList[i]._id %>', '<%= balanceList[i].email %>', '<%= balanceList[i].balance %>')">Delete</button>
                    </td>
                </tr>
            <% } %>
        </table>
    </div>

    <!-- Add Balance Form -->
    <div class="popup" id="addBalancePopup">
        <div class="popup-header">
            <button class="popup-close" onclick="closePopup('addBalancePopup')">X</button>
        </div>
        <form action="/admin/paymentBalanceManagement/add" method="post">
            <label for="email" class="custom-label">Email:</label>
            <input type="text" name="email" required class="custom-input"><br>
            <label for="balance" class="custom-label">Balance:</label>
            <input type="text" name="balance" required class="custom-input"><br>
            <label for="adminNote" class="custom-label">Admin Note:</label>
            <input type="text" name="adminNote" required class="custom-input"><br>
            <button type="submit" class="custom-button">Add Balance</button>
        </form>
    </div>

    <!-- Edit Balance Form -->
    <div class="popup" id="editBalancePopup">
        <div class="popup-header">
            <button class="popup-close" onclick="closePopup('editBalancePopup')">X</button>
        </div>
        <form action="/admin/paymentBalanceManagement/edit" method="post">
            <input type="text" name="balanceIdEdit" required readonly class="custom-input" style="display: none;">
            <label for="emailEdit" class="custom-label">Email:</label>
            <input type="text" name="emailEdit" required readonly class="custom-input"><br>
            <label for="newBalance" class="custom-label">New Balance:</label>
            <input type="text" name="newBalance" required class="custom-input"><br>
            <label for="adminNoteEdit" class="custom-label">Admin Note:</label>
            <input type="text" name="adminNoteEdit" required class="custom-input"><br>
            <button type="submit" class="custom-button">Edit Balance</button>
        </form>
    </div>

    <!-- Delete Balance Form -->
    <div class="popup" id="deleteBalancePopup">
        <div class="popup-header">
            <button class="popup-close" onclick="closePopup('deleteBalancePopup')">X</button>
        </div>
        <form action="/admin/paymentBalanceManagement/delete" method="post">
            <input type="text" name="balanceIdDelete" required readonly class="custom-input" style="display: none;">
            <label for="emailDelete" class="custom-label">Email:</label>
            <input type="text" name="emailDelete" required readonly class="custom-input"><br>
            <label for="balanceDelete" class="custom-label">Balance:</label>
            <input type="text" name="balanceDelete" required readonly class="custom-input"><br>
            <label for="adminNoteDelete" class="custom-label">Admin Note:</label>
            <input type="text" name="adminNoteDelete" required class="custom-input"><br>
            <button type="submit" class="custom-button">Delete Balance</button>
        </form>
    </div>

    <div class="overlay" onclick="closeAllBalancePopups()"></div>

    <script>
        function showAddBalanceForm() {
            showPopup('addBalancePopup');
        }

        function showEditBalanceForm(balanceId, email, balance) {
            showPopup('editBalancePopup');
            document.querySelector('[name="balanceIdEdit"]').value = balanceId;
            document.querySelector('[name="emailEdit"]').value = email;
            document.querySelector('[name="newBalance"]').value = balance;
        }

        function showDeleteBalanceForm(balanceId, email, balance) {
            showPopup('deleteBalancePopup');
            document.querySelector('[name="balanceIdDelete"]').value = balanceId;
            document.querySelector('[name="emailDelete"]').value = email;
            document.querySelector('[name="balanceDelete"]').value = balance;
        }

        function showPopup(popupId) {
            document.getElementById(popupId).style.display = 'block';
            document.querySelector('.overlay').style.display = 'block';
        }

        function closePopup(popupId) {
            document.getElementById(popupId).style.display = 'none';
            document.querySelector('.overlay').style.display = 'none';
        }

        function closeAllBalancePopups() {
            closePopup('addBalancePopup');
            closePopup('editBalancePopup');
            closePopup('deleteBalancePopup');
        }
    </script>
</body>

</html>
