<!-- paymentRecordManagement.ejs -->
<%- include("../partials/header") %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/adminNavbar.css">
    <link rel="stylesheet" href="/stylesheets/adminManagement.css">
    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>Payment Record: Admin</title>

</head>

<%- include("../partials/adminNavigation") %>

    <!-- main -->
    <div class="adminCourseManageContents">
        <h1>Payment Record Management</h1>
        <form action="/admin/paymentRecordManagement" method="get">
        <div class="search2">
            <input type="text" name="search" placeholder="Search by email, type, amount, remaining balance, payment status, or admin note">
            <button class="submitBtn" type="submit">
                <ion-icon class="searchIcon2" name="search-outline"></ion-icon>
            </button>

        </div>
    </form>
        <!-- Display Payment Record List -->
        <br>
        <table>
            <tr>
                <th>Email</th>
                <th>type</th>
                <th>Amount</th>
                <th>Remaining Balance</th>
                <th>Payment Status</th>
                <th>Payment Date</th>
                <th>Admin Note</th>
            </tr>
            <% for (let i = 0; i < paymentRecordList.length; i++) { %>
                <tr>
                    <td><%= paymentRecordList[i].email %></td>
                    <td><%= paymentRecordList[i].type %></td>
                    <td><%= paymentRecordList[i].amount %></td>
                    <td><%= paymentRecordList[i].remainingBalance %></td>
                    <td><%= paymentRecordList[i].paymentStatus %></td>
                    <td><%= paymentRecordList[i].paymentDate.toISOString().split('T')[0] %></td>
                    <td><%= paymentRecordList[i].adminNote %></td>
                    <!-- <td class="action-buttons">
                        <button onclick="showEditRecordForm('<%= paymentRecordList[i]._id %>')">Edit</button>
                        <button onclick="showDeleteRecordForm('<%= paymentRecordList[i]._id %>')">Delete</button>
                    </td> -->
                </tr>
            <% } %>
        </table>
    </div>



    <!-- <div class="overlay" onclick="closeAllRecordPopups()"></div> -->

    <script>
        // // Add or modify JavaScript functions as needed
        // function showAddRecordForm() {
        //     showPopup('addRecordPopup');
        // }

        // function showEditRecordForm(recordId) {
        //     // Modify as needed based on your logic
        //     showPopup('editRecordPopup');
        //     // Additional logic to pre-fill form fields based on recordId
        // }

        // function showDeleteRecordForm(recordId) {
        //     // Modify as needed based on your logic
        //     showPopup('deleteRecordPopup');
        //     // Additional logic to pre-fill form fields based on recordId
        // }

        // function showPopup(popupId) {
        //     document.getElementById(popupId).style.display = 'block';
        //     document.querySelector('.overlay').style.display = 'block';
        // }

        // function closePopup(popupId) {
        //     document.getElementById(popupId).style.display = 'none';
        //     document.querySelector('.overlay').style.display = 'none';
        // }

        // function closeAllRecordPopups() {
        //     closePopup('addRecordPopup');
        //     closePopup('editRecordPopup');
        //     closePopup('deleteRecordPopup');
        // }
    </script>
</body>

</html>
