<!-- userManagement.ejs -->
<%- include("../partials/header") %>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/rmitlogo.png" sizes = "16*16">
    <link rel="stylesheet" href="/stylesheets/adminManagement.css">
    <link rel="stylesheet" href="/stylesheets/adminNavbar.css">
    <title>User Management</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <div class="admin-navbar">
        <ul>
            <a class="navlogo" href="#">
                <img src="/images/rmitlogo.png" alt="">
                <p>RMITdays</p>
            </a>
            <li>
            <a class="admin-profile-wrap" href="#">
                <div class="admin-profile">
                    <img src="/images/studentProfile.png" alt="">
                </div> 
                <p>Admin Name</p>
            </a>
            </li>
            <li>
                <a class="backWeb" href="#">
                    <ion-icon name="exit-outline"></ion-icon>
                    <p>Go back to Website</p>
                </a>
            </li>

            <p id="category1" >Management</p>
            <li><a href="/admin/UserManagement">User</a></li>
            <li><a href="/admin/courseListManagement">Course List</a></li>
            <li><a href="/admin/CourseActivityManagement">Course Activity</a></li>
            <li><a href="/admin/CourseEnrollmentManagement">Course Enrollment</a></li>
            <li><a href="/admin/paymentBalanceManagement">Payment Balance</a></li>
            <li><a href="/admin/paymentRecordManagement">Payment Record</a></li>
            <li><a href="/admin/feedbackManagement">Feedback</a></li>
            <li><a href="/admin/courseHistoryManagement">Course History</a></li>
            <li><a href="/admin/courseEnrollmentHistoryManagement">Course Enrollment History</a></li>
            <li><a href="/admin/courseEvaluationManagement">Course Evaluation</a></li>
            <li><a href="#">Campus Map</a></li>
            <li><a href="#">Payment</a></li>
            <li><a href="#">Course Evaluation</a></li>
          </ul>
    </div>
    <div class="adminCourseManageContents">
        <h1>User Management</h1>
    

        <!-- Display User List -->
        <button class="admin-add-btn" onclick="showAddUserForm()">
            <ion-icon name="add-outline"></ion-icon>
            <p>Add User</p>
        </button>
        <table>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Role</th>
                <th>Major</th>
                <th>Year</th>
                <th>Action</th>
            </tr>
            <% for (let i = 0; i < userList.length; i++) { %>
                <tr>
                    <td><%= userList[i].email %></td>
                    <td><%= userList[i].name %></td>
                    <td><%= userList[i].role %></td>
                    <td><%= userList[i].major %></td>
                    <td><%= userList[i].year %></td>
                    <td class="action-buttons">
                        <button id="action-edit" onclick="showEditUserForm('<%= userList[i]._id %>', '<%= userList[i].email %>', '<%= userList[i].name %>', '<%= userList[i].role %>', '<%= userList[i].major %>', '<%= userList[i].year %>')">Edit</button>
                        <button id="action-delete" onclick="showDeleteUserForm('<%= userList[i]._id %>', '<%= userList[i].email %>', '<%= userList[i].name %>', '<%= userList[i].role %>', '<%= userList[i].major %>', '<%= userList[i].year %>')">Delete</button>
                    </td>
                </tr>
            <% } %>
        </table>
    </div>

    <!-- Add User Form -->
    <div class="popup" id="addUserPopup">
        <div class="popup-header">
            <button class="popup-close" onclick="closePopup('addUserPopup')">X</button>
        </div>
        <form action="/admin/userManagement/add" method="post">
            <label for="email" class="custom-label">Email:</label>
            <input type="email" name="email" required class="custom-input"><br>
            <label for="name" class="custom-label">Name:</label>
            <input type="text" name="name" required class="custom-input"><br>
            <label for="role" class="custom-label">Role:</label>
            <input type="text" name="role" required class="custom-input"><br>
            <label for="major" class="custom-label">Major:</label>
            <input type="text" name="major" required class="custom-input"><br>
            <label for="year" class="custom-label">Year (optional):</label>
            <input type="text" name="year"><br>
            <label for="password" class="custom-label">Password:</label>
            <input type="password" name="password" required class="custom-input"><br>
            <button type="submit" class="custom-button">Add User</button>
        </form>
    </div>

    <!-- Edit User Form -->
    <div class="popup" id="editUserPopup">
        <div class="popup-header">
            <button class="popup-close" onclick="closePopup('editUserPopup')">X</button>
        </div>
        <form action="/admin/userManagement/edit" method="post">
            <input type="text" name="userIdEdit" required readonly class="custom-input" style="display: none;">
            <label for="newEmail" class="custom-label">New Email:</label>
            <input type="text" name="newEmail" required class="custom-input"><br>
            <label for="newName" class="custom-label">New Name:</label>
            <input type="text" name="newName" required class="custom-input"><br>
            <label for="newRole" class="custom-label">New Role:</label>
            <input type="text" name="newRole" class="custom-input"><br>
            
            <label for="newMajor" class="custom-label">New Major:</label>
            <input type="text" name="newMajor" required class="custom-input"><br>
            <label for="yearEdit" class="custom-label">Year:</label>
            <input type="text" name="yearEdit" required class="custom-input"><br>


            <button type="submit" class="custom-button">Edit User</button>
        </form>
    </div>

    <!-- Delete User Form -->
    <div class="popup" id="deleteUserPopup">
        <div class="popup-header">
            <button class="popup-close" onclick="closePopup('deleteUserPopup')">X</button>
        </div>
        <form action="/admin/userManagement/delete" method="post">
            <input type="text" name="userIdDelete" required readonly class="custom-input" style="display: none;">
            <label for="emailDelete" class="custom-label">Email:</label>
            <input type="email" name="emailDelete" required readonly class="custom-input"><br>
            <label for="nameDelete" class="custom-label">Name:</label>
            <input type="text" name="nameDelete" required readonly class="custom-input"><br>
            <label for="roleDelete" class="custom-label">Role:</label>
            <input type="text" name="roleDelete" required readonly class="custom-input"><br>
            <label for="majorDelete" class="custom-label">Major:</label>
            <input type="text" name="majorDelete" required readonly class="custom-input"><br>
            <label for="yearDelete" class="custom-label">Year:</label>
            <input type="text" name="yearDelete" required readonly class="custom-input"><br>
            <button type="submit" class="custom-button">Delete User</button>
        </form>
    </div>

    <div class="overlay" onclick="closeAllUserPopups()"></div>

    <script>
        function showAddUserForm() {
            showPopup('addUserPopup');
        }

        function showEditUserForm(userId, email, name, role, major, year) {
            showPopup('editUserPopup');
            document.querySelector('[name="userIdEdit"]').value = userId;
            document.querySelector('[name="newEmail"]').value = email;
            document.querySelector('[name="newName"]').value = name;
            document.querySelector('[name="newRole"]').value = role;
            document.querySelector('[name="newMajor"]').value = major;
            document.querySelector('[name="yearEdit"]').value = year;
            
            
            
            
        }

        function showDeleteUserForm(userId, email, name, role, major, year) {
            showPopup('deleteUserPopup');
            document.querySelector('[name="userIdDelete"]').value = userId;
            document.querySelector('[name="emailDelete"]').value = email;
            document.querySelector('[name="nameDelete"]').value = name;
            document.querySelector('[name="roleDelete"]').value = role;
            document.querySelector('[name="majorDelete"]').value = major;
            document.querySelector('[name="yearDelete"]').value = year;
        }

        function showPopup(popupId) {
            document.getElementById(popupId).style.display = 'block';
            document.querySelector('.overlay').style.display = 'block';
        }

        function closePopup(popupId) {
            document.getElementById(popupId).style.display = 'none';
            document.querySelector('.overlay').style.display = 'none';
        }

        function closeAllUserPopups() {
            closePopup('addUserPopup');
            closePopup('editUserPopup');
            closePopup('deleteUserPopup');
        }
    </script>
</body>

</html>

