<!-- userManagement.ejs -->
<%- include("../partials/header") %>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/rmitlogo.png" sizes = "16*16">
    <link rel="stylesheet" href="/stylesheets/adminManagement.css">
    <link rel="stylesheet" href="/stylesheets/adminNavbar.css">
    <title>User Management</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<%- include("../partials/adminNavigation") %>

<style>   
    .map-thumbnail {
        width: 300px; 
        height: auto; 
        border-radius: 5px; 
    }
    
    
    .image-preview {
        width: 150px; 
        height: auto; 
        border: 1px solid #000000; 
        border-radius: 5px; 
        margin-top: 10px; 
    }
    .sort-arrow {
        cursor: pointer;
        margin-left: 5px;
    }
    
    .sort-arrow:hover {
        color: #0056b3; /* 또는 원하는 색 */
    }
    </style>

    <div class="adminCourseManageContents">
        <h1>User Management</h1>
        <div class="search">
            <input type="text" placeholder="Search by email, name, major, and enrollment date">
            <button class="submitBtn" type="submit">
                <ion-icon class="searchIcon" name="search-outline"></ion-icon>
            </button>
        </div>
        <button class="admin-add-btn" onclick="showAddUserForm()">
            <ion-icon name="add-outline"></ion-icon>
            <p>Add NEW</p>
        </button>
        <table>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Role</th>
                <th>Major</th>
                <th>Year</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
            <% for (let i = 0; i < userList.length; i++) { %>
                <tr>
                    <td><%= userList[i].email %></td>
                    <td><%= userList[i].name %></td>
                    <td><%= userList[i].role %></td>
                    <td><%= userList[i].major %></td>
                    <td><%= userList[i].year %></td>
                    <td><img src="<%= userList[i].image %>" alt="Map Image" class="map-thumbnail"></td>
                    <td class="action-buttons">
                        <button id="action-edit" onclick="showEditUserForm('<%= userList[i]._id %>', '<%= userList[i].email %>', '<%= userList[i].name %>', '<%= userList[i].role %>', '<%= userList[i].major %>', '<%= userList[i].year %>', '<%= userList[i].image %>')">Edit</button>
                        <button id="action-delete" onclick="showDeleteUserForm('<%= userList[i]._id %>', '<%= userList[i].email %>', '<%= userList[i].name %>', '<%= userList[i].role %>', '<%= userList[i].major %>', '<%= userList[i].year %>', '<%= userList[i].image %>')">Delete</button>
                    </td>
                </tr>
            <% } %>
        </table>
    </div>

    <!-- Add User Form -->
    <div class="popup" id="addUserPopup">
        <div class="popup-header">
            <button class="popup-close" onclick="closePopup('addUserPopup')">X</button>
        </div>
        <form action="/admin/userManagement/add" method="post" enctype="multipart/form-data">
            <label for="email" class="custom-label">Email:</label>
            <input type="email" name="email" required class="custom-input"><br>
            <label for="name" class="custom-label">Name:</label>
            <input type="text" name="name" required class="custom-input"><br>
            <label for="role" class="custom-label">Role:</label>
            <input type="text" name="role" required class="custom-input"><br>
            <label for="major" class="custom-label">Major:</label>
            <input type="text" name="major" required class="custom-input"><br>
            <label for="year" class="custom-label">Year (optional):</label>
            <input type="text" name="year" class="custom-input"><br>
            <label for="password" class="custom-label">Password:</label>
            <input type="password" name="password" required class="custom-input"><br>
            <label class="custom-label" for="image">Image:</label>
            <input class="custom-input" type="file" name="image" id="addImageInput" onchange="previewAddImage(event)">
            <img id="addImagePreview" src="" alt="Image preview" class="image-preview" style="display: none;">
            <button type="submit" class="custom-button">Add User</button>
        </form>
    </div>


    <!-- Edit User Form -->
    <div class="popup" id="editUserPopup">
        <div class="popup-header">
            <button class="popup-close" onclick="closePopup('editUserPopup')">X</button>
        </div>
        <form action="/admin/userManagement/edit" method="post" enctype="multipart/form-data">
            <input type="text" name="userIdEdit" required readonly class="custom-input" style="display: none;">
            <label for="newEmail" class="custom-label">New Email:</label>
            <input type="text" name="newEmail" required class="custom-input"><br>
            <label for="newName" class="custom-label">New Name:</label>
            <input type="text" name="newName" required class="custom-input"><br>
            <label for="newRole" class="custom-label">New Role:</label>
            <input type="text" name="newRole" class="custom-input"><br>
            
            <label for="newMajor" class="custom-label">New Major:</label>
            <input type="text" name="newMajor" required class="custom-input"><br>
            <label for="yearEdit" class="custom-label">Year:</label>
            <input type="text" name="yearEdit" required class="custom-input"><br>
            <label class="custom-label" for="newImage">New Image:</label>
            <input class="custom-input" type="file" name="newImage" onchange="updateImagePreview(this, 'editImagePreview')">
            <img id="editImagePreview" src="" alt="Image Preview" class="image-preview">
            <button type="submit" class="custom-button">Edit User</button>
        </form>
    </div>

    <!-- Delete User Form -->
    <div class="popup" id="deleteUserPopup">
        <div class="popup-header">
            <button class="popup-close" onclick="closePopup('deleteUserPopup')">X</button>
        </div>
        <form action="/admin/userManagement/delete" method="post">
            <input type="text" name="userIdDelete" required readonly class="custom-input" style="display: none;">
            <label for="emailDelete" class="custom-label">Email:</label>
            <input type="email" name="emailDelete" required readonly class="custom-input"><br>
            <label for="nameDelete" class="custom-label">Name:</label>
            <input type="text" name="nameDelete" required readonly class="custom-input"><br>
            <label for="roleDelete" class="custom-label">Role:</label>
            <input type="text" name="roleDelete" required readonly class="custom-input"><br>
            <label for="majorDelete" class="custom-label">Major:</label>
            <input type="text" name="majorDelete" required readonly class="custom-input"><br>
            <label for="yearDelete" class="custom-label">Year:</label>
            <input type="text" name="yearDelete" required readonly class="custom-input"><br>
            <label class="custom-label">Image:</label>
    <img id="deleteImagePreview" src="" alt="Image Preview" class="image-preview">
            <button type="submit" class="custom-button">Delete User</button>
        </form>
    </div>

    <div class="overlay" onclick="closeAllUserPopups()"></div>

    <script>

function previewAddImage(event) {
    var reader = new FileReader();
    reader.onload = function() {
        var output = document.getElementById('addImagePreview');
        output.src = reader.result;
        output.style.display = 'block'; // Show the preview
    };
    reader.readAsDataURL(event.target.files[0]);
}
        function updateImagePreview(input, previewId) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            document.getElementById(previewId).src = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
    }
}


        function showAddUserForm() {
            showPopup('addUserPopup');
        }

        function showEditUserForm(userId, email, name, role, major, year, image) {
            showPopup('editUserPopup');
            document.querySelector('[name="userIdEdit"]').value = userId;
            document.querySelector('[name="newEmail"]').value = email;
            document.querySelector('[name="newName"]').value = name;
            document.querySelector('[name="newRole"]').value = role;
            document.querySelector('[name="newMajor"]').value = major;
            document.querySelector('[name="yearEdit"]').value = year;
            document.getElementById('editImagePreview').src = image;
            
            
            
        }

        function showDeleteUserForm(userId, email, name, role, major, year, image) {
            showPopup('deleteUserPopup');
            document.querySelector('[name="userIdDelete"]').value = userId;
            document.querySelector('[name="emailDelete"]').value = email;
            document.querySelector('[name="nameDelete"]').value = name;
            document.querySelector('[name="roleDelete"]').value = role;
            document.querySelector('[name="majorDelete"]').value = major;
            document.querySelector('[name="yearDelete"]').value = year;
            document.getElementById('deleteImagePreview').src = image;
        }

        function showPopup(popupId) {
            document.getElementById(popupId).style.display = 'block';
            document.querySelector('.overlay').style.display = 'block';
        }

        function closePopup(popupId) {
            document.getElementById(popupId).style.display = 'none';
            document.querySelector('.overlay').style.display = 'none';
        }

        function closeAllUserPopups() {
            closePopup('addUserPopup');
            closePopup('editUserPopup');
            closePopup('deleteUserPopup');
        }
    </script>
</body>

</html>

