
  <button type="button" id="open-sheet" aria-controls="sheet" class="sheet-trigger qr-btn"><a href="#">
    <p>Mobile ID</p></a></button>
<!-- 바텀시트 -->
    <div id="sheet" class="column items-center justify-end" aria-hidden="true">
        <div class="overlay"></div>
        <div class="contents column">
          <header class="controls">
            <div class="draggable-area">
              <div class="draggable-thumb"></div>
            </div>
            <!-- Button to close the sheet -->
            <button class="close-sheet" type="button" title="Close the sheet">
              <ion-icon name="close-outline"></ion-icon>
            </button>
  
            <div class="qr-studentId-info">
              <p class="qr-student-name"><%= userData.displayname %><br>(<%= userData.displayemail.split('@')[0] %>)</p>
              <p id="qr-major"><%= userData.displaymajor %></p>
            </div>
          </header>
          <div class="qr-mobileId-profile">
            <img src="<%= userData.displayimage %>" alt="Profile Picture" onerror="this.onerror=null; this.src='/images/studentProfile.png';">
          </div>
          <!-- Body of the sheet -->
          <main class="body fill column">
            <div class="main-wrap">
              <div id="qr-mobileId-panel">
                <p>Mobile ID Card</p>
              </div>
              <div class="QR-img">
                <img src="<%= userData.qrUrl %>" alt="User's QR Code">
              </div>
            </div>
          </main>
        </div>
      </div>