<!-- courseEnrollmentManagement.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Enrollment Management</title>
    <style>
        .popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border: 1px solid #ccc;
            z-index: 1000;
            max-width: 400px; /* 조정 가능한 팝업 최대 너비 */
            width: 100%;
        }

        .popup-header {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;
        }

        .popup-close {
            cursor: pointer;
            background-color: #ff0000;
            color: white;
            border: none;
            padding: 5px 10px;
            font-size: 16px;
        }

        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 999;
        }

        /* Remove list styles and make each list item a flex container */
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        /* Make buttons the same width */
        .action-buttons button {
            width: 100px; /* 조정 가능한 버튼 최대 너비 */
            margin-right: 5px;
        }
    </style>
</head>

<body>
    <h1>Course Enrollment Management</h1>

    <!-- Display Course Enrollment List -->
    <h2>Course Enrollment List</h2>
    <button onclick="showAddEnrollmentForm()">Add Enrollment</button>
    <table>
        <tr>
            <th>Email</th>
            <th>Course ID</th>
            <th>Activity</th>
            <th>Action</th>
        </tr>
        <% for (let i = 0; i < enrollmentList.length; i++) { %>
            <tr>
                <td><%= enrollmentList[i].email %></td>
                <td><%= enrollmentList[i].courseID %></td>
                <td><%= enrollmentList[i].activity %></td>
                <td class="action-buttons">
                    <button onclick="showEditEnrollmentForm('<%= enrollmentList[i]._id %>', '<%= enrollmentList[i].email %>', '<%= enrollmentList[i].courseID %>', '<%= enrollmentList[i].activity %>')">Edit</button>
                    <button onclick="showDeleteEnrollmentForm('<%= enrollmentList[i]._id %>', '<%= enrollmentList[i].email %>', '<%= enrollmentList[i].courseID %>', '<%= enrollmentList[i].activity %>')">Delete</button>
                </td>
            </tr>
        <% } %>
    </table>

    <!-- Add Enrollment Form -->
    <div class="popup" id="addEnrollmentPopup">
        <div class="popup-header">
            <button class="popup-close" onclick="closePopup('addEnrollmentPopup')">X</button>
        </div>
        <form action="/courseEnrollmentManagement/add" method="post">
            <label for="email">Email:</label>
            <input type="text" name="email" required><br>
            <label for="courseID">Course ID:</label>
            <input type="text" name="courseID" required><br>
            <label for="activity">Activity:</label>
            <input type="text" name="activity" required><br>
            <button type="submit">Add Enrollment</button>
        </form>
    </div>

    <!-- Edit Enrollment Form -->
    <div class="popup" id="editEnrollmentPopup">
        <div class="popup-header">
            <button class="popup-close" onclick="closePopup('editEnrollmentPopup')">X</button>
        </div>
        <form action="/courseEnrollmentManagement/edit" method="post">
            <input type="text" name="enrollmentIdEdit" required readonly style="display: none;">
            <label for="emailEdit">Email:</label>
            <input type="text" name="emailEdit" required readonly><br>
            <label for="courseIDEdit">Course ID:</label>
            <input type="text" name="courseIDEdit" required readonly><br>
            <label for="newCourseID">New Course ID:</label>
            <input type="text" name="newCourseID" required><br>
            <label for="newActivity">New Activity:</label>
            <input type="text" name="newActivity" required><br>
            <button type="submit">Edit Enrollment</button>
        </form>
    </div>

    <!-- Delete Enrollment Form -->
    <div class="popup" id="deleteEnrollmentPopup">
        <div class="popup-header">
            <button class="popup-close" onclick="closePopup('deleteEnrollmentPopup')">X</button>
        </div>
        <form action="/courseEnrollmentManagement/delete" method="post">
            <input type="text" name="enrollmentIdDelete" required readonly style="display: none;">
            <label for="emailDelete">Email:</label>
            <input type="text" name="emailDelete" required readonly><br>
            <label for="courseIDDelete">Course ID:</label>
            <input type="text" name="courseIDDelete" required readonly><br>
            <label for="activityDelete">Activity:</label>
            <input type="text" name="activityDelete" required readonly><br>
            <button type="submit">Delete Enrollment</button>
        </form>
    </div>

    <div class="overlay" onclick="closeAllEnrollmentPopups()"></div>

    <script>
        function showAddEnrollmentForm() {
            showPopup('addEnrollmentPopup');
        }

        function showEditEnrollmentForm(enrollmentId, email, courseID, activity) {
            showPopup('editEnrollmentPopup');
            document.querySelector('[name="enrollmentIdEdit"]').value = enrollmentId;
            document.querySelector('[name="emailEdit"]').value = email;
            document.querySelector('[name="courseIDEdit"]').value = courseID;
            document.querySelector('[name="newCourseID"]').value = courseID;
            document.querySelector('[name="newActivity"]').value = activity;
        }

        function showDeleteEnrollmentForm(enrollmentId, email, courseID, activity) {
            showPopup('deleteEnrollmentPopup');
            document.querySelector('[name="enrollmentIdDelete"]').value = enrollmentId;
            document.querySelector('[name="emailDelete"]').value = email;
            document.querySelector('[name="courseIDDelete"]').value = courseID;
            document.querySelector('[name="activityDelete"]').value = activity;
        }

        function showPopup(popupId) {
            document.getElementById(popupId).style.display = 'block';
            document.querySelector('.overlay').style.display = 'block';
        }

        function closePopup(popupId) {
            document.getElementById(popupId).style.display = 'none';
            document.querySelector('.overlay').style.display = 'none';
        }

        function closeAllEnrollmentPopups() {
            closePopup('addEnrollmentPopup');
            closePopup('editEnrollmentPopup');
            closePopup('deleteEnrollmentPopup');
        }
    </script>
</body>

</html>
