<%- include("./partials/header") %>

  <link rel="stylesheet" href="/stylesheets/editprofile.css">

  <title>RMITdays</title>
</head>
<body>

  <form action="/editprofile" method="post">

  <div class="editprofile-header">
    <h2>Edit My Profile</h2>
    <a href="profile">    <ion-icon class="profileform-delete-icon" name="close-outline"></ion-icon></a>
  </div>
  <div class="edit-profile">
    <div id="profile-pic">
      <img src="/images/studentProfile.png" alt="">
    </div>
    <div id="profilepic-btn">
      <button id="uploadimg" >Uplaod Img</button>
      <button id="removeimg">Remove</button>
    </div>
  </div>
  
  <div id="editprofile-form">
    <p>My Personal Info</p>
      <input type="text" name="name" placeholder="Full Name" required>
      <input type="text" name="email" placeholder="Email" value="<%= displayemail %>" required readonly>
      <input type="text" name="password" placeholder="Password" required>
    <p>Major</p>
    <select name="major">
      <option value="---" <%= displaymajor === '---' ? 'selected' : '' %> disabled>None</option>
      <option value="Business" <%= displaymajor === 'Business' ? 'selected' : '' %>>Business</option>
      <option value="Accounting" <%= displaymajor === 'Accounting' ? 'selected' : '' %>>Accounting</option>
      <option value="Business Administration" <%= displaymajor === 'Business Administration' ? 'selected' : '' %>>Business Administration</option>
      <option value="Economics and Finance" <%= displaymajor === 'Economics and Finance' ? 'selected' : '' %>>Economics and Finance</option>
      <option value="International Business" <%= displaymajor === 'International Business' ? 'selected' : '' %>>International Business</option>
      <option value="Logistics and Supply Chain Management" <%= displaymajor === 'Logistics and Supply Chain Management' ? 'selected' : '' %>>Logistics and Supply Chain Management</option>
      <option value="Management" <%= displaymajor === 'Management' ? 'selected' : '' %>>Management</option>
      <option value="Human Resource Management" <%= displaymajor === 'Human Resource Management' ? 'selected' : '' %>>Human Resource Management</option>
      <option value="Digital Business" <%= displaymajor === 'Digital Business' ? 'selected' : '' %>>Digital Business</option>
      <option value="Tourism and Hospitality Management" <%= displaymajor === 'Tourism and Hospitality Management' ? 'selected' : '' %>>Tourism and Hospitality Management</option>
      <option value="Digital Marketing" <%= displaymajor === 'Digital Marketing' ? 'selected' : '' %>>Digital Marketing</option>
      <option value="Design - Digital Media" <%= displaymajor === 'Design - Digital Media' ? 'selected' : '' %>>Design - Digital Media</option>
      <option value="Design Studies" <%= displaymajor === 'Design Studies' ? 'selected' : '' %>>Design Studies</option>
      <option value="Game Design" <%= displaymajor === 'Game Design' ? 'selected' : '' %>>Game Design</option>
      <option value="Digital Film and video" <%= displaymajor === 'Digital Film and video' ? 'selected' : '' %>>Digital Film and video</option>
      <option value="Professional Communication" <%= displaymajor === 'Professional Communication' ? 'selected' : '' %>>Professional Communication</option>
      <option value="Fashion - Enterprise" <%= displaymajor === 'Fashion - Enterprise' ? 'selected' : '' %>>Fashion - Enterprise</option>
      <option value="Languages" <%= displaymajor === 'Languages' ? 'selected' : '' %>>Languages</option>
      <option value="Psychology" <%= displaymajor === 'Psychology' ? 'selected' : '' %>>Psychology</option>
      <option value="Aviation Management" <%= displaymajor === 'Aviation Management' ? 'selected' : '' %>>Aviation Management</option>
      <option value="Software Engineering" <%= displaymajor === 'Software Engineering' ? 'selected' : '' %>>Software Engineering</option>
      <option value="Information Technology" <%= displaymajor === 'Information Technology' ? 'selected' : '' %>>Information Technology</option>
      <option value="Robotics and Mechatronics Engineering" <%= displaymajor === 'Robotics and Mechatronics Engineering' ? 'selected' : '' %>>Robotics and Mechatronics Engineering</option>
      <option value="Electronic and Computer Systems Engineering" <%= displaymajor === 'Electronic and Computer Systems Engineering' ? 'selected' : '' %>>Electronic and Computer Engineering</option>
      <option value="Food Technology and Nutrition" <%= displaymajor === 'Food Technology and Nutrition' ? 'selected' : '' %>>Food Technology and Nutrition</option>
    </select>
  </div>
  <div id="form-btns">
    <input type="submit" id="save" value="Save">
    <input type="reset" id="reset" value="reset">
  </div>
</form>
</body>
</html>