<%- include("./partials/header") %>

    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <script src="../js/script.js"></script>

    <title>RMITdays</title>

  </head>
  <body>

  <!-- Header -->
  <%- include("./partials/navigation") %>

    <!-- main contents -->
    <section class="main-content">
      <div class="student-card">
        <div class="student-card-container">
          <div class="mobileId-profile">
            <img src="/images/studentProfile.png" alt="">
          </div>
          <div class="info">
            <div class="majorAndGrade">
              <p id="major"><%= displaymajor %></p>
            </div>
              <p class="student-name"><%= displayname %> <br> (<%= displayemail.split('@')[0] %>)</p>
          </div>
        </div>
        <div class="buttons">
          <button class="wallet-btn"><a href="paymentMain"><ion-icon class="btn-icon" name="wallet-outline"></ion-icon><p>E-wallet</p></a></button>
          <button class="qr-btn"><a href=""><ion-icon class="btn-icon" name="qr-code-outline"></ion-icon><p>QR</p></a></button>
        </div>
      </div>

      <!-- Menu list -->
      <div class="menu-list">
        <ul>
          <a href="timetable"><li><ion-icon class="menu-icon" name="alarm-outline"></ion-icon> <p>Timetable</p></li></a>
          <a href="course_evaluation"><li><ion-icon  class="menu-icon" name="podium-outline"></ion-icon><p>Course Evaluation</p></li></a>
          <a href="#"><li><ion-icon  class="menu-icon" name="map-outline"></ion-icon><p>Campus Map</p></li></a>
        </ul>
      </div>
    </section>
    <!-- 여기에 새로 bottom sheet 추가 예정 -->
  </body>
</html>