<%- include("./partials/header") %>

    <link rel="stylesheet" href="/stylesheets/timetable.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <title>Timetable</title>
    </head>

    <body>

        <%- include("./partials/navigation") %>

            <div class="mainContent">
                <div class="mainContentHeader">
                    <h3>Sem5</h3>
                    <div class="Category">
                        <h1>TimeTable</h1>
                        <a href="course_list"><img class="addIcon" src="/images/free-icon-add-2774757.png"
                                alt="Add Course"></a>
                    </div>
                </div>

                <table border="1" class="time">
                    <thead>
                        <tr>
                            <th scope="row"></th>
                            <th>MON</th>
                            <th>TUE</th>
                            <th>WED</th>
                            <th>THU</th>
                            <th>FRI</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- 8:00 ~ 8:30 -->
                        <tr>
                            <td rowspan="2">8</td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Mon, 8')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Tue, 8')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Wed, 8')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Thu, 8')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Fri, 8')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                        </tr>
                        <!-- 8:30 ~ 9:00 -->
                        <tr>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Mon, 8:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Tue, 8:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Wed, 8:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Thu, 8:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Fri, 8:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                        </tr>

                        <!-- 9:00 ~ 9:30 -->
                        <tr>
                            <td rowspan="2">9</td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Mon, 9')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Tue, 9')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Wed, 9')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Thu, 9')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Fri, 9')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                        </tr>
                        <!-- 9:30 ~ 10:00 -->
                        <tr>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Mon, 9:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Tue, 9:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Wed, 9:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Thu, 9:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Fri, 9:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                        </tr>

                        <!-- 10:00 ~ 10:30 -->
                        <tr>
                            <td rowspan="2">10</td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Mon, 10')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Tue, 10')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Wed, 10')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Thu, 10')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Fri, 10')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                        </tr>
                        <!-- 10:30 ~ 11:00 -->
                        <tr>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Mon, 10:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Tue, 10:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Wed, 10:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Thu, 10:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Fri, 10:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                        </tr>

                        <!-- 11:00 ~ 11:30 -->
                        <tr>
                            <td rowspan="2">11</td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Mon, 11:00')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Tue, 11:00')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Wed, 11:00')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Thu, 11:00')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Fri, 11:00')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                        </tr>
                        <!-- 11:30 ~ 12:00 -->
                        <tr>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Mon, 11:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Tue, 11:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Wed, 11:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Thu, 11:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Fri, 11:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                        </tr>
                        <!-- 12:00 ~ 12:30 -->
                        <tr>
                            <td rowspan="2">12</td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Mon, 12:00')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Tue, 12:00')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Wed, 12:00')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Thu, 12:00')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Fri, 12:00')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                        </tr>
                        <!-- 12:30 ~ 13:00 -->
                        <tr>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Mon, 12:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Tue, 12:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Wed, 12:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Thu, 12:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Fri, 12:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                        </tr>

                        <!-- 13:00 ~ 13:30 -->
                        <tr>
                            <td rowspan="2">13</td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Mon, 13')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Tue, 13')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Wed, 13')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Thu, 13')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Fri, 13')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                        </tr>
                        <!-- 13:30 ~ 14:00 -->
                        <tr>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Mon, 13:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Tue, 13:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Wed, 13:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Thu, 13:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Fri, 13:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                        </tr>

                        <!-- 14:00 ~ 14:30 -->
                        <tr>
                            <td rowspan="2">14</td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Mon, 14')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Tue, 14')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Wed, 14')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Thu, 14')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Fri, 14')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                        </tr>
                        <!-- 14:30 ~ 15:00 -->
                        <tr>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Mon, 14:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Tue, 14:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Wed, 14:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Thu, 14:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Fri, 14:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                        </tr>

                        <!-- 15:00 ~ 15:30 -->
                        <tr>
                            <td rowspan="2">15</td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Mon, 15')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Tue, 15')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Wed, 15')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Thu, 15')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Fri, 15')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                        </tr>
                        <!-- 15:30 ~ 16:00 -->
                        <tr>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Mon, 15:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Tue, 15:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Wed, 15:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Thu, 15:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Fri, 15:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                        </tr>

                        <!-- 16:00 ~ 16:30 -->
                        <tr>
                            <td rowspan="2">16</td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Mon, 16')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Tue, 16')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Wed, 16')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Thu, 16')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Fri, 16')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                        </tr>
                        <!-- 16:30 ~ 17:00 -->
                        <tr>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Mon, 16:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Tue, 16:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Wed, 16:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Thu, 16:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Fri, 16:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                        </tr>

                        <!-- 17:00 ~ 17:30 -->
                        <tr>
                            <td rowspan="2">17</td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Mon, 17')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Tue, 17')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Wed, 17')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Thu, 17')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Fri, 17')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                        </tr>
                        <!-- 17:30 ~ 18:00 -->
                        <tr>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Mon, 17:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Tue, 17:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Wed, 17:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Thu, 17:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                            <td
                                class="<%= userCourses.some(course => course.time.includes('Fri, 17:30')) ? 'assigned' : 'not-assigned' %>">
                            </td>
                        </tr>


                    </tbody>
                </table>


            </div>
    </body>

    </html>