<%- include("../partials/header") %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/campusMapDetail.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia Sans' rel='stylesheet'>
    <link rel="icon" href="../images/rmitlogo.png" sizes = "16*16">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>RMITdays</title>
</head>
<body>
    <%- include("../partials/navigation") %>
    <%- include("../partials/studentCard") %>
<div class="mainContentHeader">
    <div class="Category">
        <h1><%= detail.name %></h1>
        <a href="/campusMap"> <ion-icon class="courseList-delete-icon" name="close-outline"></ion-icon></a>
    </div>
</div>

<div class="contentContainers">
    <div class="contentContainer">
        <div class="locationImgcontainer">
            <img class="locationimage" src="<%= detail.image %>" alt="<%= detail.name %>">
        </div>
        <div class="detail">
            <div class="location">
                <ion-icon class="locationIcon" name="location-outline"></ion-icon>
                <p class="locationName"><%= detail.location %></p>
            </div>
            <% if (detail.contact) { %>
            <div class="phoneNumber">
                <ion-icon class="phone" name="call-outline"></ion-icon>
                <p class="call"><%= detail.contact %></p>
            </div>
            <% } %>
            <% if (detail.text) { %>
            <div class="additionalText">
                <ion-icon class="information" name="information-circle-outline"></ion-icon>
                <p><%= detail.text %></p>
            </div>
            <% } %>
        </div>
    </div>
</div>
</body>
</html>