<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/courseSelect.css">
<link rel="stylesheet" href="/stylesheets/header.css">

<title>RMITdays</title>
</head>
<body>
    <%- include("../partials/navigation") %>
    <div class="CourseSelectionHeader">
    </div>
    <div class="mainContent">
        <div class="courseContainer">
            <h2>My Course Review</h2>
            
            <% for (let courseItem of courseItems) { %>
                <div class="courseItem">
                    <div>
                        <div class="courseInfo">
                            <h3 class="comment-title"><%= courseItem.courseID %> - <%= courseItem.courseName %></h3>
                            <p class="author"><%= courseItem.lecturer %></p>
                        </div>

                        <% if (courseItem.starRating != null) { %>
                            <div class="star-rating-container">
                                <div class="star-rating">
                                    <% for(let i = 1; i <= 5; i++) { %>
                                        <% if(i <= courseItem.starRating) { %>
                                            <span class="star filled">&#9733;</span>
                                        <% } else { %>
                                            <span class="star">&#9733;</span>
                                        <% } %>
                                    <% } %>
                                </div>
                                <p class="rating-number"><%= courseItem.starRating.toFixed(1) %>/5</p>
                            </div>
                        <% } else { %>
                            <p>No ratings yet</p>
                        <% } %>
                    </div>
                    <% if (!courseItem.hasReviewed) { %>
                        <button class="reviewBtn" onclick="window.location.href = '/writeReview/<%= courseItem.courseID %>'">Review</button>
                    <% } else { %>
                        <button class="reviewBtn" onclick="window.location.href = '/writeReview/<%= courseItem.courseID %>'">Edit Review</button>
                    <% } %>
                </div>
            <% } %>
        </div>
    </div>
    <a id="goback-btn" href="course_evaluation">
        <ion-icon name="chevron-back-outline"></ion-icon>
        <p>Go Back to Course Evaluation</p>
    </a>
</body>
</html>
