<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/courseEvaluationMain.css">
<link rel="stylesheet" href="/stylesheets/header.css">

<title>RMITdays</title>
</head>

<body>
    <%- include("../partials/navigation") %>
    <%- include("../partials/studentCard") %>

    <!-- <div class="CourseEvaluationHeader">
        <h1>Course Evaluation</h1>
        <a href="main">    <ion-icon class="courseList-delete-icon" name="close-outline"></ion-icon></a>
    </div> -->
    
    <form action="/course_evaluation" method="get">
        <div class="search">
            <input type="text" name="q" placeholder="Search i.e. Jimin or Project Management" value="<%= searchQuery || '' %>">
            <button class="submitBtn" type="submit">
                <ion-icon class="searchIcon" name="search-outline"></ion-icon>
            </button>
        </div>
    </form>
    
    <div class="mainContent">
        <h2>All courses</h2><br>
        <div class="comment-list">
            <% for (let course of courseHistoryList) { %>
                <div class="comment">
                    <a href="reviewDetail/<%= course.courseID %>">
                        <h3 class="comment-title"><%= course.courseID %> - <%= course.courseName %></h3>
                        <p class="author"><%= course.lecturer %></p>
                        <% if (course.averageStarRating != null) { %>
                            <div class="star-rating-container">
                                <div class="star-rating">
                                    <% for(let i = 1; i <= 5; i++) { %>
                                        <% if(i <= course.averageStarRating) { %>
                                            <span class="star filled">&#9733;</span>
                                        <% } else { %>
                                            <span class="star">&#9733;</span>
                                        <% } %>
                                    <% } %>
                                </div>
                                <p class="rating-number"><%= course.averageStarRating.toFixed(1) %>/5</p>
                            </div>
                        <% } else { %>
                            <p class="noRating">No ratings yet</p>
                        <% } %>
                    </a>
                </div>
            <% } %>

            <% if (courseHistoryList.length === 0 && searchQuery) { %>
                <p>No results found for "<%= searchQuery %>"</p>
            <% } %>
        </div>

        <div class="reviewBtn">
            <a href="courseSelect">
                <button>Go to Review</button>
            </a>
        </div>
        
    </div>

</body>
</html>
