<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/courseEvaluationMain.css">

<title>RMITdays</title>
</head>
<body>

    <div class="CourseEvaluationHeader">
        <h1>Course Evaluation</h1>
        <a href="main">    <ion-icon class="courseList-delete-icon" name="close-outline"></ion-icon></a>
    </div>
    
    <form action="/course_evaluation" method="get">
        <div class="search">
            <input type="text" name="q" placeholder="Search i.e. ISYS2101 or 교수이름" value="<%= searchQuery || '' %>">
            <button class="submitBtn" type="submit">
                <ion-icon class="searchIcon" name="search-outline"></ion-icon>
            </button>
        </div>
    </form>
    
    <div class="mainContent">
        <h4>All courses</h4>

        <div class="comment-list">
            <% for (let i = 0; i < courseHistoryList.length; i++) { %>
                <div class="comment">
                    <a href="reviewDetail">
                        <h3 class="comment-title"><%= courseHistoryList[i].courseID %> - <%= courseHistoryList[i].courseName %></h3>
                        <p class="author"><%= courseHistoryList[i].lecturer %></p>
                        <div class="rating">
                            <!-- 별점을 여기에 추가할 수 있어요. -->
                        </div>
                    </a>
                </div>
            <% } %>

            <% if (courseHistoryList.length === 0 && searchQuery) { %>
                <p>No results found for "<%= searchQuery %>"</p>
            <% } %>
        </div>

        <div class="reviewBtn">
            <a href="courseSelect">
                <button>Go to Review</button>
            </a>
        </div>
        
    </div>

</body>
</html>
