<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/courseSelect.css">
<link rel="stylesheet" href="/stylesheets/header.css">

<title>RMITdays</title>
</head>
<body>
    <%- include("../partials/navigation") %>
    <div class="CourseSelectionHeader">
    </div>
    <div class="mainContent">
        <div class="courseContainer">
            <h2>My Course Review</h2>
            
            <% for (let i = 0; i < courseItems.length; i++) { %>
                <a class="courseItem">
                    <div class="courseInfo">
                        <h3 class="comment-title"><%= courseItems[i].courseID %> - <%= courseItems[i].courseName %></h3>
                        <p class="author"><%= courseItems[i].lecturer %></p>
                    </div>
                    <% if (!courseItems[i].hasReviewed) { %>
                        <button class="reviewBtn" onclick="window.location.href = '/writeReview'">Review</button>
                    <% } else { %>
                        <button class="reviewBtn" onclick="window.location.href = '/writeReview'">Edit Review</button>
                    <% } %>
                </a>
            <% } %>
        </div>
    </div>
    <a id="goback-btn" href="course_evaluation">
        <ion-icon name="chevron-back-outline"></ion-icon>
        <p>Go Back to Course Evaluation </p>
    </a>
</body>
</html>
