<%- include("../partials/header") %>

    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/header.css">


    <title>RMITdays</title>

  </head>
  <body>

  <!-- Header -->
  <%- include("../partials/navigation") %>
  <%- include("../partials/studentCard") %>

    <!-- main contents -->
    <section class="main-content">
      <div class="student-card">
        <div class="student-card-container">
          <div class="mobileId-profile">
            <img src="<%= image %>" alt="Profile Picture" onerror="this.onerror=null; this.src='/images/studentProfile.png';">
          </div>
          <div class="info">
            <div class="majorAndGrade">
              <p id="major"><%= displaymajor %></p>
            </div>
              <p class="student-name"><%= displayname %> <br> (<%= displayemail.split('@')[0] %>)</p>
          </div>
        </div>
        <div class="buttons">
          <button class="wallet-btn"><a href="paymentMain"><ion-icon class="btn-icon" name="wallet-outline"></ion-icon><p>RMIT Pay</p></a></button>
          <button type="button" id="open-sheet" aria-controls="sheet" class="sheet-trigger qr-btn"><a href="#">
            <ion-icon class="btn-icon" name="id-card-outline"></ion-icon>
            <p>Mobile ID</p></a></button>
        </div>
      </div>

      <!-- Menu list -->
      <div class="menu-list">
        <ul>
          <a href="timetable"><li><ion-icon class="menu-icon" name="alarm-outline"></ion-icon> <p>Timetable</p></li></a>
          <a href="course_evaluation"><li><ion-icon  class="menu-icon" name="podium-outline"></ion-icon><p>Course Evaluation</p></li></a>
          <a href="campusMap"><li><ion-icon  class="menu-icon" name="map-outline"></ion-icon><p>Campus Map</p></li></a>
        </ul>
      </div>
    </section>
    
    <!-- 바텀시트 -->




  </body>
</html>