<%- include("../partials/header") %>

    <title>RMITdays</title>
    <link rel="stylesheet" href="/stylesheets/payment.css">
    <link rel="stylesheet" href="/stylesheets/header.css">

</head>
<body>
    <!-- Header -->
    <%- include("../partials/navigation") %>

    <div class="mainContainer">
        <div class="accountContainer">
            <div class="accountInfo">
                <p class="userEmail"><%= userEmail %></p>
                <p class="balance">VND <span id="balance"><%= balanceAmount.toLocaleString() %></span></p>
                <a href="charging"><button class="chargeButton" id="charge-button">Charge</button></a>
            </div>
        </div>
    
        <div class="bankInfo">
            <p class="paymentHistory">Payment History</p>
            <table>
                <tr class="paymentHistoryTitle">
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Payment Date</th>
                </tr>
                <% for (let i = 0; i < paymentRecords.length; i++) { %>
                    <tr class="paymentHistoryInfo" >
                        <td><%= paymentRecords[i].type %></td>
                        <td><%= paymentRecords[i].amount %></td>
                        <td><%= new Date(paymentRecords[i].paymentDate).toLocaleString('en-US', { timeZone: 'Asia/Ho_Chi_Minh' }) %></td>
                    </tr>
                <% } %>
            </table>
        </div>
        
    </div>
    <button class="QR" onclick="window.location.href = 'barcode'">
        <div class="buttonContent">
            <ion-icon class="scan-icon" name="scan-outline"></ion-icon>
            <span>PAYMENT</span>
        </div>
    </button>
    
</body>
</html>