<%- include("../partials/header") %>

  <link rel="stylesheet" href="/stylesheets/header.css">
  <link rel="stylesheet" href="/stylesheets/profile.css">
  <title>RMITdays</title>
</head>

<body>
  <!-- Header -->
  <%- include("../partials/navigation") %>
  <%- include("../partials/studentCard") %>


  <!-- main contents -->
  <div id="profile-component">
    <div id="profile-id">
      <div class="student-card-container">
        <div class="mobileId-profile">
          <img src="<%= displayimage %>" alt="Profile Picture" onerror="this.onerror=null; this.src='/images/studentProfile.png';">
        </div>
        <div class="info">
          <div class="majorAndGrade">
            <p id="major">
              <%= displaymajor %>
            </p>
          </div>
          <p class="student-name">
            <%= displayname %><br>(<%= displayemail.split('@')[0] %>)
          </p>
        </div>
      </div>
    </div>
    <div class="profile-menulist">
      <ul>
        <a href="editprofile">
          <li><ion-icon class="profile-menu-icon" name="create-outline"></ion-icon>
            <p>Edit profile</p>
          </li>
        </a>
        <!-- <a href="bankManage">
          <li><ion-icon class="profile-menu-icon" name="cash-outline"></ion-icon>
            <p>My Bank Account</p>
          </li>
        </a> -->
        <a herf="#" onclick="openPopup()">
          <li><ion-icon class="profile-menu-icon" name="trash-outline"></ion-icon>
            <p>Delete account</p>
          </li>
        </a>
        <a href="feedback">
          <li><ion-icon class="profile-menu-icon" name="pencil-outline"></ion-icon>
            <p>Feedback</p>
          </li>
        </a>
        <% if(userRole === 'admin') { %>
          <a href="/admin">
            <li>
              <ion-icon class="profile-menu-icon" name="home-outline"></ion-icon>
              <p>Go to Admin Home</p>
            </li>
          </a>
      <% } %>
        <a href="logout">
          <li><ion-icon class="profile-menu-icon" name="log-out-outline"></ion-icon>
            <p>Logout</p>
          </li>
        </a>
      </ul>
    </div>
    <!-- delete account popup -->
    <div id="popup" class="hide">
      <div class="content">
        <h1>Confirm your action</h1>
        <p>Do you agree to delete your account?</p>
          <button onclick="window.location.href='/deleteaccount'">YES</button>
          <button href="#" onclick="closePopup()">NO</button>
      </div>
    </div>
    <script>
      // Function to open the modal
      function openPopup() {
        document.getElementById('popup').classList.remove('hide');
      }
      // Function to close the modal
      function closePopup() {
        document.getElementById('popup').classList.add('hide');
      }
      // Event listener for the 'NO' button
      document.addEventListener('DOMContentLoaded', function() {
          document.querySelector('#popup button[onclick="closePopup()"]').addEventListener('click', function(event) {
              event.preventDefault(); // Prevent the default action
              closePopup();
          });

          // Optional: Close the modal if the user clicks outside of it
          window.onclick = function(event) {
              let modal = document.getElementById('popup');
              if (event.target === modal) {
                  closePopup();
              }
          }
      });
    </script>
  </div>
</body>

</html>