<%- include("../partials/header") %>

<link rel="stylesheet" href="/stylesheets/writeReview.css">
<link rel="stylesheet" href="/stylesheets/header.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/javascripts/writeReview.js"></script>
<script src="/javascripts/popup.js"></script>
<title>RMITdays</title>

</head>

<body>
    <%- include("../partials/navigation") %>
    <div class="CourseSelectionHeader">
        <a href="/courseSelect">
            <ion-icon class="courseList-delete-icon" name="close-outline"></ion-icon>
        </a>
    </div>
    <div class="mainContent">
        <div class="reviewContainer">
            <form action="/writeReview" method="post">
                <h2>Lecture Review</h2>
                <br>

                <div class="section courseID">
                    <h3>Course ID</h3>
                    <input type="text" class="input-box" name="courseID" value="<%= course.courseID %>" readonly>
                </div>
            
                <div class="section courseName">
                    <h3>Course Name</h3>
                    <input type="text" class="input-box" name="courseName" value="<%= course.courseName %>" readonly>
                </div>
            
                <div class="section lecturer">
                    <h3>Lecturer</h3>
                    <input type="text" class="input-box" name="lecturer" value="<%= course.lecturer %>" readonly>
                </div>
            
                <div class="section email">
                    <h3>Email</h3>
                    <input type="text" class="input-box" name="email" value="<%= userEmail %>" readonly>
                </div>

                <div class="section starRating">
                    <h3>Star Rating</h3>
                    <div class="options">
                        <span class="option" id="stars" onclick="selectStarRating(1)" data-value="1">★</span>
                        <span class="option" id="stars" onclick="selectStarRating(2)" data-value="2">★</span>
                        <span class="option" id="stars" onclick="selectStarRating(3)" data-value="3">★</span>
                        <span class="option" id="stars" onclick="selectStarRating(4)" data-value="4">★</span>
                        <span class="option" id="stars" onclick="selectStarRating(5)" data-value="5">★</span>
                    </div>
                    <input type="hidden" name="starRating" id="starRating" value="">
                </div>

                <div class="section assignmentsCount">
                    <h3>Number of Assignments</h3>
                    <h4>( How many Assignments are there? )</h4>
                    <div class="options">
                        <span class="option" onclick="selectCount(this, 'assignmentsCount')" data-value="0">0</span>
                        <span class="option" onclick="selectCount(this, 'assignmentsCount')" data-value="1">1</span>
                        <span class="option" onclick="selectCount(this, 'assignmentsCount')" data-value="2">2</span>
                        <span class="option" onclick="selectCount(this, 'assignmentsCount')" data-value="3">3</span>
                        <span class="option" onclick="selectCount(this, 'assignmentsCount')" data-value="4">4</span>
                    </div>
                    <input type="hidden" name="assignmentsCount" id="assignmentsCount" value="">
                </div>

                <div class="section examsCount">
                    <h3>Number of Exams</h3>
                    <h4>( How many Exams are there? )</h4>
                    <div class="options">
                        <span class="option" onclick="selectCount(this, 'examsCount')" data-value="0">0</span>
                        <span class="option" onclick="selectCount(this, 'examsCount')" data-value="1">1</span>
                        <span class="option" onclick="selectCount(this, 'examsCount')" data-value="2">2</span>
                        <span class="option" onclick="selectCount(this, 'examsCount')" data-value="3">3</span>
                        <span class="option" onclick="selectCount(this, 'examsCount')" data-value="4">4</span>
                    </div>
                    <input type="hidden" name="examsCount" id="examsCount" value="">
                </div>

                <div class="section groupProjectsCount">
                    <h3>Number of Group Projects</h3>
                    <h4>( How many Group Projects are there? )</h4>
                    <div class="options">
                        <span class="option" onclick="selectCount(this, 'groupProjectsCount')" data-value="0">0</span>
                        <span class="option" onclick="selectCount(this, 'groupProjectsCount')" data-value="1">1</span>
                        <span class="option" onclick="selectCount(this, 'groupProjectsCount')" data-value="2">2</span>
                        <span class="option" onclick="selectCount(this, 'groupProjectsCount')" data-value="3">3</span>
                        <span class="option" onclick="selectCount(this, 'groupProjectsCount')" data-value="4">4</span>
                    </div>
                    <input type="hidden" name="groupProjectsCount" id="groupProjectsCount" value="">
                </div>

                <div class="section difficulty">
                    <h3>Difficulty</h3>
                    <h4>( 1 = Very Easy ~ 5 = Very Hard )</h4>
                    <div class="options">
                        <span class="option" onclick="selectCount(this, 'difficulty')" data-value="1">1</span>
                        <span class="option" onclick="selectCount(this, 'difficulty')" data-value="2">2</span>
                        <span class="option" onclick="selectCount(this, 'difficulty')" data-value="3">3</span>
                        <span class="option" onclick="selectCount(this, 'difficulty')" data-value="4">4</span>
                        <span class="option" onclick="selectCount(this, 'difficulty')" data-value="5">5</span>
                    </div>
                    <input type="hidden" name="difficulty" id="difficulty" value="">
                </div>

                <div class="section">
                    <h3>Comments</h3>
                    <textarea class="comment-box" placeholder="Write your comment here..." name="textFeedback"></textarea>
                </div>
                <button type="submit" class="submit-button">Submit</button>
            </form>
        </div>
    </div>



    <script>

function updateCourseDetails() {
            var courseID = $('#courseID').val();
            $.ajax({
                url: '/courseDetails/' + courseID,
                type: 'GET',
                success: function(data) {
                    $('#courseName').val(data.courseName);
                    $('input[name="courseName"]').val(data.courseName);
                    $('#lecturer').val(data.lecturer);
                    $('input[name="lecturer"]').val(data.lecturer);
                },
                error: function(error) {
                    console.log('Error:', error);
                }
            });
        }

        function selectStarRating(rating) {
            document.getElementById('starRating').value = rating;
            const starOptions = document.querySelectorAll('.starRating .option');
            starOptions.forEach((option, index) => {
                option.classList.toggle('selected', index < rating);
            });
        }

        function selectCount(element, countType) {
            document.getElementById(countType).value = element.dataset.value;
            const countOptions = element.parentNode.querySelectorAll('.option');
            countOptions.forEach(opt => {
                opt.classList.remove('selected');
            });
            element.classList.add('selected');
        }

        // function selectOption(element, fieldName) {
        //     const selectedValue = element.getAttribute('data-value');
        //     document.getElementById(fieldName).value = selectedValue;
        
        //     const options = element.parentNode.querySelectorAll('.option');
        //     options.forEach(opt => {
        //         opt.classList.remove('selected');
        //     });
        //     element.classList.add('selected');
        // }


        // 페이지 로드 시 초기화 함수
        window.onload = function() {
            selectStarRating(1);  // 기본 별점은 1로 설정
            selectCount(document.querySelector('.assignmentsCount .option'), 'assignmentsCount');
            selectCount(document.querySelector('.examsCount .option'), 'examsCount');
            selectCount(document.querySelector('.groupProjectsCount .option'), 'groupProjectsCount');
            selectCount(document.querySelector('.difficulty .option'), 'difficulty'); // Default difficulty
        };
    </script>
    
</body>
</html>
